<header class="header">
  <a href="/" class="header__logo">Admin Panel</a>

  <nav class="header__nav">
    <ul>
      <li>
        <a href="https://rbc-television.netlify.app/" class="">Home</a>
      </li>
      <li>
        <a href="https://discord.gg/rbctv" class="">Contact</a>
      </li>
      <li>
        <a href="https://rbc-television.netlify.app/our-team" class=""
          >Our Team</a
        >
      </li>
      <li>
        <a href="https://rbc-television.netlify.app/radio" class="">Radio</a>
      </li>
    </ul>
  </nav>

  <div class="header__button">
    <a href="/logout" style="color: white"> Logout </a>
  </div>
</header>
